.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.bg-animation {
  background-color: #000000;
  min-height: calc(100vh - 68px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  z-index: -1;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.foreground {
  position: absolute;
  z-index: 1;
  top:calc(10px * 1 + 1em * 5);
  color: white;
  padding: 5px;
}

.footer {
  text-align: center;
  padding: 20px;
}

.version {
  font-size:1.4em;
  font-style: italic;
  font-weight: 300;
  text-shadow: 2px 2px red, -2px -2px green;
}

.copyright {
  font-size:1.4em;
  font-weight: 200;
}